[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dbt-core = "==1.7.17"
dbt-duckdb = "*"
duckdb = "*"
glob2 = "*"

[dev-packages]
altair = "*"
jupyterlab = "*"
pandas = "*"
pyarrow = "*"
pytest = "*"
pytest-mock = "*"
vl-convert-python = "*"

[requires]
python_version = "3.10"
